<mat-card *ngIf="blogpost as bp; else loading">
  <form #formDirective="ngForm" (ngSubmit)="updateBlogpost(formDirective)">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="title" [(ngModel)]="bp.title" name="title" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="sub-title" [(ngModel)]="bp.subTitle" name="subTitle" required>
      </mat-form-field>
      <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="bp.content" name="content" required>
      </angular-editor>
      <label for="image">Choose image</label>
      <div class="col-6">
        <img [src]="imagePreview.name" alt="">
      </div>
      <input type="file" name="image" id="image" ngModel (change)="getFiles($event)">
      <!-- <button type="button" mat-button (click)="upload()">Upload image</button> -->
      <div class="submitEdit">
        <button mat-raised-button color="accent" type="submit" [disabled]="formDirective.invalid">Update blog
          post</button>
        <button mat-raised-button color="warn" routerLink="/admin" routerLinkActive="active">Cancel</button>
      </div>
    </div>
  </form>
</mat-card>

<ng-template #loading>
  loading...
</ng-template>
