.cookieConsent,
.register {
  color: aliceblue;
  text-align: center;
  padding-top: 5px;
}

.example-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mat-raised-button {
  margin-left: 2em;
}

button {
  opacity: 90%;
}

button:hover {
  opacity: 100%;
}
