.container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  justify-content: space-between;
  margin: 10px;
}

.example-card {
  margin-top: 5px;
  border: thick double #32a1ce;
  padding-bottom: 50px;
  border-radius: 10px;
  background: #6b6666;
}

mat-card img {
  /* padding-left: 15px; */
  border-radius: 50%;
}

.no-margin {
  margin-left: -20px;
}

.mat-card-title {
  text-transform: uppercase;
}

.mat-card-header-text {
  margin: 0 16px;
  border: 2px solid green;
}

.mat-card-footer {
  margin-left: 0px;
}
