.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}

.cardListItem {
  margin-top: 5px;
  padding: 10px;
  border: thick double #32a1ce;
  padding-bottom: 50px;
  border-radius: 10px;
  background: #6b6666;
}

mat-card .img-container {
  display: flex;
  justify-content: center;
}

mat-card img {
  /* max-width: 100%;
  max-height: 100%; */
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}

.no-margin {
  margin-left: -20px;
}

.mat-card-title {
  text-transform: uppercase;
}

.mat-card-header-text {
  margin: 0 16px;
  border: 2px solid green;
}

.mat-card-footer {
  margin-left: 0px;
}
