.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: space-around; */
  justify-content: space-between;
  margin: 20px;
}

.example-card {
  margin-top: 5px;
  border: thick double #32a1ce;
  padding-bottom: 50px;
  border-radius: 10px;
  background: #6b6666;
}

mat-card .img-container {
  margin: 10px;
  width: 200px;
  /*height: 200px;*/
  line-height: 115px;
  text-align: center;
}

mat-card img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  /*border-radius: 50%;*/
}

.no-margin {
  margin-left: -20px;
}

.mat-card-title {
  text-transform: uppercase;
}

.mat-card-header-text {
  margin: 0 16px;
  border: 2px solid green;
}

.mat-card-footer {
  margin-left: 0px;
}
