<h2 class="mat-h2">Login</h2>
<div class="cookieConsent">
  <p>Warning: This application uses cookies during your session. They will be deleted when you
    will logout.</p>
</div>
<mat-card>
  <form #loginForm="ngForm" (ngSubmit)="login()">
    <div class="example-container">
      <mat-form-field>
        <input matInput type="text" placeholder="User name" name="username" id="username" [(ngModel)]="user.username"
          required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" autocomplete="on" name="password" id="password"
          [(ngModel)]="user.password" required>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit" [disabled]="!loginForm.form.valid">login</button>
    </div>
  </form>
</mat-card>
<mat-card class="errorMessage">{{ errorFromServer }}</mat-card>
<div class="register">Not registered yet? Follow this link to <a [routerLink]="['/register']">registration form</a>.
</div>
