.cookieConsent,
.register,
.errorMessage {
  color: aliceblue;
  text-align: center;
  padding-top: 5px;
}

.example-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mat-raised-button {
  margin-left: 2em;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label:not(.mat-empty):not(.mat-form-field-empty) {
  color: antiquewhite;
  font-size: large;
}
