<h2 class="mat-h2">Create</h2>
<mat-card>
  <form [formGroup]="creationForm" #formDirective="ngForm" (submit)="createBlogpost(formDirective)">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Sub-title" formControlName="subTitle" required>
      </mat-form-field>
      <!-- <mat-form-field>
        <textarea matInput placeholder="Content" formControlName="content" required></textarea>
      </mat-form-field> -->
      <angular-editor placeholder="Enter text here..." formControlName="content" [config]="editorConfig" required>
      </angular-editor>
      <label for="image">Choose image</label>
      <input type="file" name="image" formControlName="image" id="image" required>
      <button type="button" mat-button (click)="upload()">Upload image</button>
      <button mat-button type="submit">Create blogpost</button>
    </div>
  </form>
</mat-card>
