<h2 class="mat-h2">Create</h2>
<mat-card>
  <form [formGroup]="creationForm" #formDirective="ngForm" (submit)="createBlogpost(formDirective)">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Sub-title" formControlName="subTitle" required>
      </mat-form-field>
      <angular-editor placeholder="Enter text here..." formControlName="content" required>
      </angular-editor>
      <label for="image">Choose image</label>
      <div class="col-6">
        <img [src]="imagePreview.name" alt="">
      </div>
      <input #takeInput type="file" name="image" formControlName="image" id="image" (change)="getFiles($event)"
        required>
      <p>Only .png, .gif, .jpg and .jpeg files under 2MB are allowed!</p>
      <div class="submitPost">
        <button mat-raised-button id="submitBtn" color="accent" type="submit" [disabled]="!formDirective.valid">Create
          blogpost</button>
        <button mat-raised-button color="warn" (click)="resetForm()">Reset form</button>
      </div>
    </div>
  </form>
</mat-card>
