<div class="logoutButton"><button mat-raised-button color="warn" (click)="logout()">Logout</button></div>
<!-- {{ errorFromServer }} -->

<h2 class="mat-h2">Update / Delete</h2>
<mat-selection-list #blogposts>
  <mat-list-option *ngFor="let bp of allBlogposts" [value]="bp._id">
    <a [routerLink]="['/admin/blog-posts/', bp._id]">{{bp.title}}</a>
  </mat-list-option>
</mat-selection-list>

<mat-card>Blog posts selected: {{blogposts.selectedOptions.selected.length}}</mat-card>
<mat-card>
  <mat-card-actions class="deleteButton">
    <button mat-raised-button color="warn" (click)="deleteBlogposts(blogposts.selectedOptions.selected)"
      *ngIf="blogposts.selectedOptions.selected.length>0">Delete</button>
  </mat-card-actions>
</mat-card>


<app-blogpost-create></app-blogpost-create>
