.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.submitEdit {
  display: flex;
  justify-content: space-evenly;
  margin: 8px 8px 8px 0;
}

button {
  opacity: 0.8;
}

button:hover {
  opacity: 1;
}

img {
  max-width: 180px;
}

input[type="file"] {
  padding: 10px;
  background: #2d2d2d;
}
